weather-bot.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c850c368-0587-4508-8697-4a2b386b302b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=52.2297&longitude=21.0122&current_weather=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "a82841b5-b861-407f-b02d-0ca9fd7f37a2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5fce74ef-434e-421e-85e0-aa6bd88a95e6",
              "leftValue": "={{ $json.current_weather.temperature }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "0582cde9-6c99-4f0b-839d-c2b7401b4081",
              "leftValue": "={{ $json.current_weather.weathercode }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        352,
        0
      ],
      "id": "cd2ac7d0-7714-4441-a278-0eecb6800371",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Hello very cold outside, Today's temperature: {{ $json.current_weather.temperature }} wear warm clothes :)",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        560,
        -96
      ],
      "id": "8a41c9a6-7eb8-47f6-b19e-3b24082f0714",
      "name": "Discord",
      "webhookId": "6cc2f8fc-760f-4e38-9456-bb91f59e68e3"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22676bd91b225cfcb9e03d274a26cfd1b6e09ecab0a002d68a3ad80606686160"
  }
}